<footer class="footer">
  <div class="footer__logo">
    <a href="/">
      <img src="/img/logo-green.png" alt="Natours logo">
    </a>
  </div>
  <ul class="footer__nav">
    <li><a href="https://github.com/sudeepgtm777/natours" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/sudeepgtm777/" target="_blank">LinkedIn</a></li>
    <li><a href="https://x.com/sudeepgtm777" target="_blank">Twitter</a></li>
  </ul>
  <p class="footer__copyright">&copy; by Sudeep Gautam. All rights reserved.</p>
</footer>
