<%- include('base') %>

<main class="main">
  <div class="signup-form">
    <h2 class="heading-secondary ma-bt-lg">Create your account</h2>
    <form class="form form--signup" method="POST">
      <div class="form__group">
        <label class="form__label" for="name">Your name</label>
        <input id="name" class="form__input" type="text" placeholder="Enter Your name" required name="name">
      </div>

      <div class="form__group">
        <label class="form__label" for="email">Email address</label>
        <input id="email" class="form__input" type="email" placeholder="Your email.com" required name="email">
      </div>

      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input id="password" class="form__input" type="password" placeholder="••••••••" required minlength="8" name="password">
      </div>

      <div class="form__group ma-bt-md">
        <label class="form__label" for="password-confirm">Confirm password</label>
        <input id="password-confirm" class="form__input" type="password" placeholder="••••••••" required minlength="8" name="passwordConfirm">
      </div>

      <div class="form__group">
        <button class="btn btn--green">Sign Up</button>
      </div>
    </form>
  </div>
</main>
